<div class="flex label-flex">
  <%= f.label :name, t(".label_name") %>
  <div class="required">&nbsp;*</div>
</div>
<%= f.text_field :name, class: "form-control" %>
<div class="flex label-flex">
  <%= f.label :description, t(".label_description") %>
  <div class="required">&nbsp;*</div>
</div>
<%= f.text_field :description, class: "form-control" %>
