@import "bootstrap-sprockets";
@import "bootstrap/scss/bootstrap";
@import "root";
@import "color";
@import "actiontext";

html {
  font-size: $font_size_16;
  .navbar {
    padding: 10px 20px;
    background-color: aliceblue;
    .title {
      font-size: larger;
      font-weight: bold;
    }
    #navbarSupportedContent {
      justify-content: flex-end;
    }
    .header_nav {
      display: flex;
      gap: 5px;
      margin-right: 20px;
    }
  }

  .search_input {
    .search {
      width: 100%;
      padding: 10px 100px 10px 120px;
      width: 100%;
      display: flex;
      gap: 10px;
      #name {
        width: 100%;
        border-radius: 8px;
        padding: 0px 10px;
      }
    }
  }

  .content {
    padding: 10px 80px;
    margin: 10px 0px;
    .tour_home_page {
      display: grid;
      grid-template-columns: auto auto auto;

      .tour_item {
        background-color: white;
        padding: 10px;
        margin: 5px;
        border: solid 1px $gray;
        border-radius: 8px;
        box-shadow: 2px 5px 5px $gray;
        text-align: center;
        transition: all;
        .tour_image {
          height: 200px;
        }
        .tour_item__content {
          text-align: left;
          .title {
            font-weight: bold;
            font-size: 1.2em;
          }
        }
      }
    }
  }
  .redirect_tag {
    text-decoration: none;
    padding: 8px 16px;
    // border: solid 1px #f0f0f1;
    // border-radius: 8px;
    color: black;
  }

  .redirect_tag:hover {
    background-color: $gray;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

a {
  text-decoration: none !important;
}

table th, table td {
  width: 100%;
  border: 1px solid $boder_primary_color;
  padding: 8px 16px;
  overflow-y: auto;
  white-space: nowrap;
}

.container-fluid{
  color: $text_primary_color;
  table {
    .id-col {
      width: 48px;
    };
    .img-col {
      min-width: 200px;
    };
    .name-col {
      min-width: 300px;
    }
  }
  .tour-navbar {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .new-btn {
      padding: 0 16px;
      height: 36px;
      border: 1px solid $boder_primary_color;
      border-radius: $border_radius_4;
      display: flex;
      align-items: center;
    }
    .new-btn:hover {
      background-color: $button_primary_hover_color;
    }
  }
  .form-control {
    margin-bottom: 8px;
  }
  #btnSaveTourForm{
    width: 120px;
    margin: 16px 0;
  }
  .tour-input-row {
    display: flex;
    align-items: center;
    .tour-input-col {
      width: 50%;
      padding: 0 16px;
    }
  }
  .tour-richtext-row {
    padding: 0 16px;
    margin-top: 16px;
  }
}
