@import "bootstrap-sprockets";
@import "bootstrap/scss/bootstrap";
@import "root";
@import "actiontext";

html {
  body {
    position: relative;
  }
  font-size: $font_size_16;
  .navbar-home {
    padding: 10px 36px 10px 100px;
    background-color: $white_text_color;
    box-shadow: 0px 4px 4px 0px $box_shadow_color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    #navbarSupportedContent {
      justify-content: flex-end;
    }
    z-index: 999;
  }
  .content {
    padding: 86px 36px 24px 100px;
    min-height: 100vh;
    background-color: $grey_background_color;
  }
  .redirect_tag {
    text-decoration: none;
    color: $red_text_color;
    font-size: 1.75rem !important;
    font-weight: 700;
  }

  ul {
    list-style: none;
  }
}

a {
  text-decoration: none !important;
}

#wrapper #content-wrapper {
  background-color: $wrapper_bgc !important;
}

table {
  width: 100%;
  border-spacing: 0;
  box-sizing: border-box;
  z-index: 1;
}

table thead th {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  color: $grey_text_color;
  z-index: 2;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid $border_table_color !important;
  background-color: $white_text_color;
  height: 28px;
  padding: 8px 16px;
}
table tbody tr {
  height: 40px;
  box-sizing: border-box;
}
table tr,
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid $border_table_color;
  text-align: left;
  vertical-align: center;
  padding: 8px 16px;
  background-color: $white_text_color;
}

.td-text-left {
  text-align: left;
}
.td-text-center {
  text-align: center;
}
.td-text-right {
  text-align: right;
}

.container-fluid{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  height: calc(100vh - 5.5rem);
  color: $text_primary_color;
  .tour-navbar, .order-header-navbar {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      a {
        color: $white_text_color;
      }
    }
    select {
      border-radius: 4px;
      border: 1px solid $boder_primary_color;
      height: 36px;
      padding: 0 4px;
      outline: none;
    }
  }
  .form-control {
    margin-bottom: 8px;
  }
  #btnSaveTourForm{
    width: 120px;
    margin: 16px 0;
  }
  .tour-input-row {
    display: flex;
    align-items: center;
    .tour-input-col {
      width: 50%;
      padding: 0 16px;
    }
  }
  .tour-richtext-row {
    padding: 0 16px;
    margin-top: 16px;
  }

  .order-table, .tour-table {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 190px);
    margin-top: 10px;
  }
  .order-table {
    select {
      border-radius: 4px;
      border: 1px solid $boder_primary_color;
      height: 36px;
      padding: 0 4px;
      outline: none;
    }
  }
  .approved-status{
    background-color: $green_background_color;
    justify-content: center;
    height: 32px;
    border-radius: 8px;
    color: $white_text_color;
    padding: 0 8px;
  }
  .cancelled-status{
    background-color: $red_background_color;
    justify-content: center;
    height: 32px;
    border-radius: 8px;
    color: $white_text_color;
    padding: 0 8px;
  }
  #tour_image {
    border: none;
  }
  #category_id {
    border-radius: 4px;
    border: 1px solid $boder_primary_color;
    height: 36px;
    padding: 0 4px;
  }
  .new-category-form{
    margin: 16px 0;
    padding-left: 16px;
    .new-category-content {
      width: 50%;
      padding-left: 32px;
      display: none;
    }
    #new_category_checkbox {
      padding-left: 24px;
    }
  }
  .check-mark {
    font-size: 2rem;
    text-align: center;
    color: $green_background_color;
  }
  .table-paging {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    height: 42px;
    box-sizing: border-box;
    flex-direction: row-reverse;
    ul {
      margin-bottom: 0;
    }
  }
  #tour_search {
    display: flex;
    align-items: center;
    input, select {
      margin: 0 4px 0 4px !important;
    }
    input[type="search"] {
      width: 246px !important;
    }
  }
  .btn-search-order {
    height: 36px;
  }
  .search_input {
    display: flex;
    flex-direction: row-reverse;
    .search {
      width: 480px;
      padding: 10px 4px 10px 0;
      display: flex;
      gap: 10px;
      #name {
        width: 100%;
        border-radius: 8px;
        padding: 0px 10px;
      }
    }
  }
}

.detail-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  .detail-left {
    width: 60%;
    .detail-header {
      font-size: 2rem;
      font-weight: 700;
    }
    img {
      width: 100%;
    }
    .detail-tour {
      padding-top: 24px;
      .detail-tour-header {
        font-size: 1.75rem;
        font-weight: 700;
      }
      .tour-info {
        background-color: $white_text_color;
        padding: 0 24px;
        border-radius: 8px;
        padding-bottom: 24px;
        .tour-info-title {
          padding: 16px 0 6px 0;
          font-size: 1.375rem;
          font-weight: 600;
        }
      }
      .tour-info-comment {
        padding-top: 16px;
        .tour-comment {
          padding: 8px 0;
          .user-comment {
            font-size: 1.175rem;
            font-weight: 700;
          }
          .comment-line {
            padding: 8px;
            background-color: $grey_background_color;
            border-radius: 4px;
          }
        }
      }
    }
  }
  .detail-right {
    padding-left: 40px;
    width: 35%;
    .tour-price {
      font-weight: 700;
      font-size: 1.75rem;
      .tour-price-text {
        text-align: center;
        color: $red_text_color;
      }
    }
    .tour-button {
      margin-top: 16px;
      height: 40px;
      background-color: $red_background_color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      a {
        color: $white_text_color;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    .tour-button:hover {
      background-color: $red_background_hover_color;
      cursor: pointer;
    }
    .tour-date {
      font-size: 1.25rem;
      padding: 24px 16px;
    }
    .disable-tour-button {
      margin-top: 16px;
      height: 40px;
      background-color: $red_background_color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      color: $white_text_color;
      font-size: 1.2rem;
      font-weight: 600;
      pointer-events: none;
    }
  }
}

.order-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: $grey_text_color;
  .info-title {
    font-size: 1.375rem;
    font-weight: 600;
    color: $blue_text_color;
    margin-bottom: 8px;
  }
  .order-left {
    width: 60%;
    .tour-guide-checkbox{
      margin-top: 24px;
    }
    .order-submit-button {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 4px;
    }
    #order_note {
      height: 80px;
    }
  }
  .order-right {
    width: 35%;
    .tour-name {
      margin-left: 12px;
      font-size: 1.25rem;
    }
    .tour-info-text {
      padding-top: 16px;
      font-size: 1.125rem;
    }
    .total-cost {
      padding-top: 8px;
      margin-top: 8px;
      border-top: 1px solid $boder_primary_color;
      font-size: 1.2rem;
      font-weight: 700;
      color: $red_text_color;
    }
  }
}

.user-order{
  padding: 24px 36px;
  border-radius: 12px;
  background-color: $white_text_color;
  margin-bottom: 16px;
  .user-order-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: $blue_text_color;
  };
  .order-status {
    height: 36px;
    border-radius: 16px;
    margin: 0 48px;
    padding: 0 8px;
    color: $white_text_color;
    display: flex;
    align-items: center;
  }
  .blue-bg {
    background-color: $blue_background_color;
  }
  .green-bg {
    background-color: $green_background_color;
  }
  .red-bg {
    background-color: $red_background_color;
  }
  .grey-bg {
    background-color: $grey_background_color;
    color: $text_primary_color;
  }
  .order-info {
    padding-top: 24px;
    align-items: flex-start;
    justify-content: space-between;
    .order-image {
      width: 360px;
    }
    .order-tour-info {
      width: 360px;
      .tour-name {
        font-size: 1.25rem;
        font-weight: 600;
      }
      .point {
        width: 8px;
        height: 8px;
        background-color: $grey_text_color;
        border-radius: 50%;
        margin-right: 8px;
      }
      .checkmark {
        color: $green_background_color;
        font-size: 1.25rem;
      }
      .uncheckmark {
        color: $red_text_color;
        font-size: 1.25rem;
        font-weight: 600;
        padding-right: 4px;
      }
      .tour-info-item {
        padding: 4px 0;
        font-size: 1.125rem;
      }
    }
    .order-payment {
      width: 300px;
      color: $red_text_color;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 600;
      .total-cost {
        font-size: 1.325rem;
      }
    }
  }
}

.required {
  color: $red_text_color;
}

.login-screen {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  .login-container {
    width: 460px;
    padding: 48px 48px;
    box-shadow: 1.5px 1.5px 4px 2px $box_shadow_color;
    border-radius: 12px;
    .text-gray-900 {
      font-weight: 600;
      font-size: 1.875rem;
      color: $red_text_color !important;
      margin-bottom: 16px !important;
    }
    .remember-group {
      height: 36px;
      justify-content: space-between;
    }
    label {
      margin-bottom: 0;
    }
    .back-to-login {
      padding-top: 16px;
    }
    .links-bottom {
      padding-top: 8px;
      font-size: 0.875rem;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}

.alert {
  position: absolute !important;
  padding: 0.5rem 1rem !important;
  margin: 12px 0 0 0;
  right: 16px;
  color: $white_text_color !important;
  animation: fadeOut 5s ease-in-out forwards;
  z-index: 9999;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alert-danger, .alert-alert {
  background-color: $red_background_color !important;
}

.alert-success {
  background-color: $green_background_color !important;
}

.alert-notice {
  background-color: $blue_background_color;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 1px solid $boder_primary_color !important;
  margin-right: 8px;
}

.table-pagination {
  display: flex;
  justify-content: flex-end;
  .page-link {
    align-items: center;
    border: 0;
    border-radius: $border-radius-small;
    color: $grey-color-2;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    margin: 0 5px;
    min-width: 32px;
    padding: 0 10px;

    &:focus {
      box-shadow: none;
    }

    &__previous,
    &__next {
      font-size: $font-size-xsmall;
      width: 14px;
      height: 14px;
    }
  }

  .page-item.active .page-link {
    background: $blue-color-3;
  }
}

.nav-link {
  padding-left: 1.5rem !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: $scroll_thumb_color;
}
::-webkit-scrollbar-track {
  background: $scroll_track_color;
}

::placeholder {
  font-style: italic;
  color: $grey_text_color;
  padding-left: 4px;
  font-size: 0.875rem;
}

.tour-container {
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  .tour-filter {
    width: 360px;
    height: 200px;
    .filter-box {
      width: 100%;
      background-color: $white_text_color;
      border-radius: 8px;
      padding: 16px 24px 24px 24px;
      margin-bottom: 16px;
      .filter-by {
        font-size: 1.375rem;
        font-weight: 700;
        margin-bottom: 8px;
      }
      .form-check-input {
        margin-left: 0;
        margin-top: 3.5px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        padding: 6px 0;
      }
      .form-check-label {
        margin-left: 2rem;
        font-size: 1.175rem;
        margin-bottom: 8px;
      }
      .hide {
        display: none;
      }
      select {
        border-radius: 8px;
        border: 1px solid $boder_primary_color;
        background-color: $white_text_color;
        height: 38px;
        padding: 0 4px;
        outline: none;
        width: 312px;
      }
    }
  }
  .tour-grid {
    width: calc(100% - 396px);
    .tour-sort {
      width: 100%;
      height: 64px;
    }
    .tour-show {
      width: 100%;
      .tour-grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
      }
      .tour-item {
        background-color: $white_text_color;
        border-radius: 8px;
        box-shadow: 1.5px 1.5px 4px 2px $box_shadow_color;
        margin-bottom: 24px;
        .tour-image {
          height: 240px;
          width: 296px;
          border-radius: 8px 8px 0 0;
        }
        .tour-item-content {
          padding: 8px 12px 16px 12px;
          .tour-name {
            color: $blue_text_color;
            font-weight: 700;
            font-size: 1.2rem;
          }
          .tour-name:hover {
            color: $red_text_color;
          }
          .tour-price {
            display: flex;
            flex-direction: row-reverse;
            .tour-price-text {
              color: $red_text_color;
              font-size: 1.125rem;
              font-weight: 600;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
}

.delete-comment-btn {
  margin-top: 12px;
  margin-left: 8px;
}

.comment-form {
  margin-top: 12px;
  .review-input {
    width: 360px !important;
  }
}

.rating {
  display: flex;
  width: 160px;
  justify-content: left;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
  margin-left: 8px;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  width: 16px;
  height: 16px;
  margin-left: -28px;
  margin-top: 12px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.rating label {
  z-index: 1;
  pointer-events: none;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23dedede' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fbbc04' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
