$font_size_16: 16px;
$text_primary_color: #000;
$boder_primary_color: #ccc;
$border_radius_4: 4px;
$button_primary_hover_color: #e7e7e7;
$gray: #f0f0f1;
$grey_background_color: #f4f4f4;
$red_background_color: #ee0000;
$red_background_hover_color: #d7480b;
$red_text_color: #ee0000;
$white_text_color: #fff;
$grey_text_color: #555;
$blue_text_color: #007BFF;
$blue_background_color: #609fe3;
$green_background_color: #3a9302;
$red_background_color: #dd620a;
$box_shadow_color: #dedede
